.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-btn {
  margin-left: 20px;
}

.css-1bfz5mc {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.whitespace {
  margin-top: 0px;
}
.noLogIn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}

.profileHeader {
  margin-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #99D98C;

}

.addedExercise {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}


