/* Set the font and line-height for the entire article */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    align-content: center;
    padding-left: 50px;
  }
  
  /* Style the main heading */
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    
  }
  
  /* Style the subheading */
  h2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  /* Style the paragraphs */
  p {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  /* Style the unordered list */
  ul {
    margin-top: 0;
    margin-bottom: 20px;
    list-style-type: disc;
    padding-left: 20px;
  }
  
  /* Style the list items */
  li {
    margin-bottom: 5px;
  }
  
  /* Style the article container */
  .container {
    max-width: 75%;
    margin: 100 auto;
    padding: 100px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  